*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.h1{
    font-size: 100px;
    color: green;
}

.wrap {
    position: relative;
    max-width: 600px;
    margin: 140px auto;
}

.card{
    display: flex;
    padding: 20px;
    box-shadow: 0 0 0 5px rgb(71, 111, 111);
    margin: 0 20px 20px 20px;
}

.card-image {
    display: flex;
    flex-direction: column;
    max-width: 60%;
}